<div id="class-photos" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    {% for img_path in carousel_images %}
      <li data-target="#class-photos"
          data-slide-to="{{loop.index0}}"
          {% if loop.first %}class="active"{% endif %}>
      </li>
    {% endfor %}
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    {% for img_path in carousel_images %}
    <div class="item {% if loop.first %}active{% endif %}">
        <img src="{{img_path}}">
    </div>
    {% endfor %}
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#class-photos" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#class-photos" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>