<h3><a name="dates">Upcoming Dates</a></h3>
<ul class="media-list">
  {% for workshop in workshops %}
  {% if workshop.show %}
  <li class="media">
    <div class="pull-left date-container">
      <div class="date">
        <p>{{workshop.date.strftime('%d')}}<span>{{workshop.date.strftime('%b')}}</span></p>
      </div>
      <a href="https://docs.google.com/forms/d/{{workshop.google_docs_form_id}}/closedform"
        class="btn btn-primary btn-block btn-xs"
        {% if workshop.disabled %}disabled{% endif %}>
        Apply
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading">{{workshop.title}}</h4>
      <p>
        {{workshop.description|safe}}
      </p>
    </div>
  </li>
  {% endif %}
  {% endfor %}
</ul>