<footer class="row content-row">
  <div class="col-md-6">
    <h5>Contact</h5>
    <div class="row">
      <div class="col-md-6 social">
        <address>
          <strong>Yale Entrepreneurial Institute</strong><br>
          55 Whitney Ave., 2nd Floor<br>
          New Haven, CT 06510<br>
        </address>
      </div>
      <div class="col-md-6">
        <abbr title="Phone">P:</abbr> (203) 436-8893<br>
        <abbr title="Fax">F:</abbr> (203) 436-8958
        <p class="social">
          <a href="https://yei.yale.edu/">
            <i class="fa fa-globe"></i>
          </a>
          <a href="https://www.facebook.com/YaleEntrepreneurs">
            <i class="fa fa-facebook-square"></i>
          </a>
          <a href="https://www.twitter.com/yeitweets">
            <i class="fa fa-twitter"></i>
          </a>
          <a href="http://www.flickr.com/photos/yeisummerfellows/">
            <i class="fa fa-flickr"></i>
          </a>
          <a href="http://www.github.com/yei/">
            <i class="fa fa-github-alt"></i>
          </a>
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-6">
        <h5>Colophon</h5>
        <ul class="credits">
          <li>
            <a href="http://www.flickr.com/photos/pneedham/1907900037">
              Branford court photo
            </a>
            courtesy of
            <a href="http://www.flickr.com/photos/pneedham/">
              Paul Needham.
            </a>
          </li>
          <li>
            All other content is Copyright 2013 Alena Gribskov,
            Kyle Jensen &amp; Yale University. Available
            under an
            <a
              href="https://github.com/yei/start-something-website/blob/master/LICENSE">MIT License</a>
            and downloadable on
            <a href="https://github.com/yei/start-something-website">
              GitHub.
            </a>
          </li>
        </ul>
  </div>

</footer>
