<h3>Instructors</h3>
<ul class="media-list">
  {% for instructor in instructors %}
  <li class="media">
    <div class="pull-left">
      <a class="instructor" href="{{instructor.url}}">
        <img class="media-object instructor"
          src="{{instructor.avatar}}"
          alt="{{instructor.name}}" width="64">
      </a>
      {% if instructor.links %}
      <p class="instructor-social">
        {% for link in instructor.links %}
        <a href="{{link.url}}">
          <i class="fa {{link.fa_icon}}"></i>
        </a>
        {% endfor %}
      </p>
      {% endif %}
    </div>
    <div class="media-body">
      <h4 class="media-heading">
        {{instructor.name}}
      </h4>
      {{instructor.bio|safe}}
    </div>
  </li>
  {% endfor %}
</ul>