html { 
	/* For background cover on Android */
	height: 100%;
	min-height: 700px;
}
body{
	/* For background cover on Android */
	width: 100%;
	height: 100%;
	padding-bottom: 2.4em;
	/* Set up a background that will cover the page */
	background: rgb(151, 141, 133) url(/static/img/branford-medium.jpg) no-repeat center center fixed; 
	/* Handle old browsers */
    -webkit-background-size: 100%; 
    -moz-background-size: 100%; 
    -o-background-size: 100%; 
    background-size: 100%; 
    /* Now set to cover */
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: 'PT Serif', Georgia, sans-serif;
	font-size: 16px;
	overflow-y: scroll;
}

a{
	color: rgb(13, 77, 145);
}

#firstrow p{
	margin-top: 1.2em;
	padding-left: 0.6em;
}
#firstrow ul{
	margin-left: 1.2em;
}
#firstrow ul li span{
	margin-right:0.3em;
}
#firstrow .find{
	text-align: center;
	margin:1.2em 0;
}

h1, h2, h3, .btn{
	font-family: 'PT Sans Narrow', sans-serif;
}

h1{
	font-weight: 700;
	text-transform: uppercase;
	line-height: 0.9;
}

h1 span{
	font-weight: 400;
	text-transform: none;
	color: rgba(255, 255, 255, 0.4);
	font-size: 28px;
}
h1 span a{
	color: rgba(255, 255, 255, 0.6);
}
h1 span a:hover{
	color: rgba(255, 255, 255, 0.8);
}


h1, h2{
	background: rgba(13, 77, 145, 0.80);
	color: #fff;
	padding: 0.25em;
}

h3{
	border-bottom: 1px solid rgba(151, 141, 133, 100);
	margin-bottom: 16px;
}
h3 a, h3 a:hover{
	color: rgb(51, 51, 51);
	text-decoration: none;
}

h4{
	font-family: 'PT Serif', Georgia, sans-serif;
	font-size: 20;
	color:#000;
}
span.label{
	font-size: 12px;
	font-family: 'PT Sans Narrow', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
}

.row{
	margin-top: 2.4em;
	margin-bottom: 2.4em;
	background: rgba(255, 255, 255, 0.85);
}
div.info{
	padding-bottom: 16px;
}
.skip{
	background: none;
	height: 2em;
}

#class-photos{
	margin: 1em 0;
	border: 10px solid white;
	outline: 1px solid #ccc;
}
a.instructor{
	border: solid 1px #ccc;
	display:block;
}
img.instructor{
	border: solid 5px white;
}
p.instructor-social{
	text-align: center;
}
p.instructor-social a{
	margin-right: 0.2em;
	font-size: smaller;
	color: rgba(51, 51, 51, 0.5);
}

li.media{
	margin-bottom: 24px;
}
li.media button{
	margin-top: 8px;
}
/* Class dates */
.date-container{
	text-align: center;
}
.date {
	width: 64px;
	border: solid 1px #ccc;
	padding:5px;
	background: #fff;
}
.date p {
	padding: 0;
	margin: 0;
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 32px;
	line-height: 1;
	text-align: center;
}
.date p span {
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
	display: block;
	color: rgba(51, 51, 51, 0.6);
}

/* Large devices, usually laptops and above */
@media (min-width: 1200px) {
	#firstrow, #firstrow button{
		font-size: 20px;
	}
}

/* Tablets and above */
@media (min-width: 768px) {
	body{
		background: rgb(151, 141, 133) url(/static/img/branford-large.jpg) no-repeat center center fixed; 
	}
}
