{% extends "layout.html" %}

{% block title %}
Start Something at Yale
{% endblock %}


{% block main %}
  <div class="row content-row" id="firstrow">
    <div class="col-md-6">
      <h1>
        Start Something at&nbsp;Yale
        <span>
          <br>
          with the
          <a href="http://yei.yale.edu">
            Yale Entrepreneurial Institute
          </a>
        </span>
      </h1>
      <p>
        &ldquo;Start Something&rdquo; is a series of workshops
        where Yale students and faculty can learn the
        basic tools that entreprenuers use to launch
        new companies including:
      </p>
      <ul class="list-unstyled">
        <li>
          <span class="fa fa-check-square-o"></span>
          <a href="http://www.ted.com/talks/david_kelley_on_human_centered_design?language=en">generating</a> new business ideas;
        </li>
        <li>
          <span class="fa fa-check-square-o"></span>
          the <a href="http://en.wikipedia.org/wiki/Lean_Startup">
          Lean Start-up</a> methodology;
        </li>
        <li>
          <span class="fa fa-check-square-o"></span>
          <a href="http://steveblank.com/category/customer-development-manifesto/">customer development</a>; and,
        </li>
        <li>
          <span class="fa fa-check-square-o"></span>
          finding <a href="http://www.stanford.edu/class/ee204/ProductMarketFit.html">product&ndash;market fit</a>.
        </li>
      </ul>
      <div class="find">
        <a href="#dates" class="btn btn-default btn-lg btn-block">
          Find a workshop date &raquo;
        </a>
      </div>
    </div>
    <div class="col-md-6 visible-lg visible-md" id="carousel-holder">
      <!-- Our carousel will be loaded via AJAX here when appropriate. -->
    </div>
  </div>
  <div class="row info content-row">
    <div class="col-md-6">
      {% include "partials/instructors.html" %}
    </div>
    <div class="col-md-6">
      {% include "partials/dates.html" %}
    </div>
  </div>
{% endblock %}

{% block bottom_js %}
  <script type="text/javascript">
    {% include "partials/load_carousel.js" %}
  </script>
{% endblock %}
