<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock title %}</title>
    <meta name="description" content="{% block meta_description %}Start Something at Yale, a class from the  Yale Entrepreneurial Institute 
    where faculty and staff can learn Lean Start-up methods.{% endblock %}"/>
    <meta name="keywords" content="yale, Entrepreneurship, start-ups, new haven, nhv,  Yale Entrepreneurial Institute" />
    <meta name="author" content="Yale Entrepreneurial Institute">
    <meta name="zipcode" content="06510">
    <meta name="city" content="New Haven">
    <meta name="state" content="Connecticut">
    <meta name="ICBM" content= "41.3081, 72.9286">


    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700|PT+Serif' rel='stylesheet' type='text/css'>
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/main.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <div class="container">
      {% block main %}
      {% endblock %}
    </div>


    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
  </body>
</html>